{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <section class="container m-auto">
        <div id="calendrier" class="m-2"></div>
    </section>

    {% block javascripts %}
        <script>
            window.onload = () => {
                let calendarElt = document.querySelector("#calendrier")
                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView: 'dayGridMonth',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    headerToolbar: {
                        start: 'prevYear,prev,next,nextYear today',
                        center: 'title',
                        end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    events: {{ data|raw }},
                    editable: true,
                    eventResizableFromStart: true,
                    navLinks: true, // can click day/week names to navigate views
                    weekNumbers: true,
                    weekNumberCalculation: 'local',
                });

                // deplacement au clicker glisser des evenement
                calendar.on('eventChange', (e) => {
                    //console.log(e)

                    //requete ajax pour enregistrer les donnee en bdd a chaque deplacement
                    let url = `/ajax/${e.event.id}/edit`
                    let donnees = {
                        "title": e.event.title,
                        "description": e.event.extendedProps.description,
                        "start": e.event.start,
                        "end": e.event.end,
                        "backgroundColor": e.event.backgroundColor,
                        "borderColor": e.event.borderColor,
                        "textColor": e.event.textColor,
                        "allDay": e.event.allDay
                    }
                        //console.log(donnees);
                    let xhr = new XMLHttpRequest
                    xhr.open("PUT", url)
                    xhr.send(JSON.stringify(donnees))
                });
                calendar.render()
            }
        </script>
    {% endblock %}
{% endblock %}
