.TopTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}


.TopTable > div > button{
    margin: 10px 5px;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: #0c0c0c;
    border-radius: 50px ;

}
.TopTable > div#table_filter >label > input,
.TopTable > div#table_length >label >select{
    border: none;
    border-bottom: 1px solid #0d6efd;
    border-radius: 0;
}

.bottomTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}