{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!{% endblock %}

{% block body %}

    <section class="container-fluid m-auto">
        <div id="calendrier" class="m-2"></div>
    </section>

    {% block javascripts %}

        <script>
            window.onload = () => {
                let calendarElt = document.querySelector("#calendrier")
                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView: 'dayGridMonth',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    nowIndicator: true,
                    headerToolbar: {
                        start: 'prevYear,prev,next,nextYear',
                        center: 'title',
                        end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    events: {{ data|raw }},
                    editable: true,
                    dayMaxEvents: true,
                    eventResizableFromStart: true,
                    navLinks: true, // can click day/week names to navigate views
                    weekNumbers: true,
                });

                // deplacement au clicker glisser des evenement fonctionelle
                calendar.on('eventChange', (e) => {
                    console.log(e);

                    //requete ajax pour enregistrer les donnee en bdd a chaque deplacement
                    let url = `/ajax/edit/${e.event.id}`;
                    console.log(url);
                    let donnees = {
                        "id" : e.event.id,
                        "title": e.event.title,
                        "description": e.event.extendedProps.description,
                        "start": e.event.start,
                        "end": e.event.end,
                        "backgroundColor": e.event.backgroundColor,
                        "textColor": e.event.textColor,
                        "all_day": e.event.allDay
                    }

                    let xhr = new XMLHttpRequest
                    xhr.open("PUT", url)
                    xhr.send(JSON.stringify(donnees))

                });

                calendar.render()
            }
        </script>
    {% endblock %}
{% endblock %}
